{% extends 'admin/pages/users/template.html.twig' %}

{% set page_title %}Modifier le mot de passe de {{ elem.username }} #{{ elem.id }}{% endset %}
{% set page_subtitle %}Modification du mot de passe de l'utilisateur {{ elem.lastname }} {{ elem.firstname }}.{% endset %}

{% block breadcrumb %}
    {% set breadcrumbs = breadcrumbs | merge([{ text: page_title }]) %}
    {{ parent() }}
{% endblock %}

{% block main_content %}
    {% include "layout/components/admin/page_toolbar.html.twig" with {
        page_back: path('admin_users_read', {'id': elem.id}),
        page_back_text: "Retour au profil"
    } %}

    <div id="users_password"
         data-token="{{ elem.token }}"
    >
        {% include "layout/components/loader.html.twig" %}
    </div>
{% endblock %}
