{% extends 'admin/pages/users/template.html.twig' %}

{% set page_title %}Modifier le mot de passe de {{ elem.username }} #{{ elem.id }}{% endset %}
{% set page_subtitle %}Modification du mot de passe de l'utilisateur {{ elem.lastname }} {{ elem.firstname }}.{% endset %}

{% set page_actions %}
    {% include 'layout/components/tailwind/buttons/button.html.twig' with {
        btn_link: path('admin_users_read', {'id': elem.id}),
        btn_type: 'default',
        btn_icon: 'left-arrow',
        btn_text: 'Retourner au profil'
    } %}
{% endset %}

{% block main_content %}
    <div id="users_password"
         data-token="{{ elem.token }}"
    >
        {% include "layout/components/loader.html.twig" %}
    </div>
{% endblock %}
