{% extends 'admin/pages/users/template.html.twig' %}

{% set page_title %}{{ elem.username }} #{{ elem.id }}{% endset %}
{% set page_subtitle %}Profil de l'utilisateur {{ elem.lastname }} {{ elem.firstname }}.{% endset %}

{% set page_actions %}
    <div class="flex gap-2">
        {% include 'layout/components/tailwind/buttons/button.html.twig' with {
            btn_link: path('admin_users_password', {'id': elem.id}),
            btn_type: 'red',
            btn_icon: 'lock-1',
            btn_text: 'Modifier le mot de passe'
        } %}
        {% include 'layout/components/tailwind/buttons/button.html.twig' with {
            btn_link: path('admin_users_index'),
            btn_type: 'default',
            btn_icon: 'left-arrow',
            btn_text: 'Retourner à la liste'
        } %}
    </div>
{% endset %}

{% block main_content %}
    <div class="page-profil-0">
        <div class="page-profil-header">
            <div class="profil-header-avatar">
                {% if elem.avatarFile %}
                    <img src={{ elem.avatarFile }} alt="avatar"/>
                {% else %}
                    <div class="avatar-letter">{{ elem.lastname | slice(0,1) }}{{ elem.firstname | slice(0,1) }}</div>
                {% endif %}
            </div>
            <div class="profil-header-infos">
                <div class="name {{ elem.blocked ? "blocked" : "" -}}">
                    <span>{{ elem.lastname }} {{ elem.firstname }}</span>
                    {% if elem.blocked %}
                        <span class="icon-disabled"></span>
                    {% endif %}
                </div>
                <div class="sub">ID: {{ elem.username }}</div>
            </div>
        </div>

        <div class="page-profil-body">
            <div class="col-1">
                <div class="profil-card">
                    <div class="title">Détails</div>
                    <div class="content-infos content-infos-details">
                        {% if elem.blocked %}
                            <div class="item txt-danger">
                                <span class="icon-disabled"></span>
                                <div>
                                    Bloqué
                                </div>
                            </div>
                        {% endif %}
                        <div class="item">
                            <span class="icon-shield"></span>
                            <div>
                                <span class="badge badge-user-{{ elem.blocked ? "blocked" : elem.highRoleCode }}">{{ elem.highRole }}</span>
                            </div>
                        </div>
                        <div class="item">
                            <span class="icon-bank"></span>
                            <div>{{ elem.society.code }} - {{ elem.society.name }}</div>
                        </div>
                        <div class="item">
                            <span class="icon-settings"></span>
                            <div>{{ elem.manager }}</div>
                        </div>
                        <div class="item">
                            <span class="icon-email"></span>
                            <div>{{ elem.email }}</div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
