{% extends 'admin/pages/users/template.html.twig' %}

{% set page_title %}{{ elem.username }} #{{ elem.id }}{% endset %}
{% set page_subtitle %}Profil de l'utilisateur {{ elem.lastname }} {{ elem.firstname }}.{% endset %}

{% block main_content %}
    <div class="page-actions">
        <div class="col-1">
            <a href="{{ path('admin_users_index', {'h': elem.id}) }}" class="btn btn-outline-default">
                <span class="icon-left-arrow"></span>
                <span>Retourner à la liste</span>
            </a>
        </div>
        <div class="col-2">
            <a href="{{ path('admin_users_password', {'id': elem.id}) }}" class="btn-icon btn-icon-danger">
                <span class="icon-lock-1"></span>
                <span class="tooltip" style="width: 148px">Modifier le mot de passe</span>
            </a>
        </div>
    </div>

    <div class="page-profil-0">
        <div class="page-profil-header">
            <div class="profil-header-avatar">
                {% if elem.avatarFile %}
                    <img src={{ elem.avatarFile }} alt="avatar"/>
                {% else %}
                    <div class="avatar-letter">{{ elem.lastname | slice(0,1) }}{{ elem.firstname | slice(0,1) }}</div>
                {% endif %}
            </div>
            <div class="profil-header-infos">
                <div class="name {{ elem.blocked ? "blocked" : "" -}}">
                    <span>{{ elem.lastname }} {{ elem.firstname }}</span>
                    {% if elem.blocked %}
                        <span class="icon-disabled"></span>
                    {% endif %}
                </div>
                <div class="sub">ID: {{ elem.username }}</div>
            </div>
        </div>

        <div class="page-profil-body">
            <div class="col-1">
                <div class="profil-card">
                    <div class="title">Détails</div>
                    <div class="content-infos content-infos-details">
                        <div class="item">
                            <span class="icon-shield"></span>
                            <div>
                                <span class="badge badge-user-{{ elem.blocked ? "blocked" : elem.highRoleCode }}">{{ elem.highRole }}</span>
                            </div>
                        </div>
                        <div class="item">
                            <span class="icon-bank"></span>
                            <div>{{ elem.society.code }} - {{ elem.society.name }}</div>
                        </div>
                        <div class="item">
                            <span class="icon-settings"></span>
                            <div>{{ elem.manager }}</div>
                        </div>
                        <div class="item">
                            <span class="icon-email"></span>
                            <div>{{ elem.email }}</div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
