{% extends 'admin/pages/users/template.html.twig' %}

{% set page_title %}{{ elem.username }} #{{ elem.id }}{% endset %}
{% set page_subtitle %}Profil de l'utilisateur {{ elem.lastname }} {{ elem.firstname }}.{% endset %}

{% set page_actions %}
    <div class="flex gap-2">
        {% include 'layout/components/tailwind/buttons/button.html.twig' with {
            btn_link: path('admin_users_password', {'id': elem.id}),
            btn_type: 'red',
            btn_icon: 'lock-1',
            btn_text: 'Modifier le mot de passe'
        } %}
        {% include 'layout/components/tailwind/buttons/button.html.twig' with {
            btn_link: path('admin_users_index'),
            btn_type: 'default',
            btn_icon: 'left-arrow',
            btn_text: 'Retourner à la liste'
        } %}
    </div>
{% endset %}

{% block main_content %}
    <div class="grid gap-6 lg:grid-cols-4 xl:grid-cols-5 2xl:grid-cols-6">
        <div>
            <div class="bg-white p-4 border rounded-md flex flex-col items-center justify-center gap-4">
                <div class="flex flex-shrink-0 items-center">
                    {% if elem.avatarFile %}
                        <img class="w-auto h-12 rounded-md" src="{{ elem.avatarFile }}" alt="Avatar utilisateur">
                    {% else %}
                        <div class="h-12 w-12 rounded-full bg-gray-500 flex items-center justify-center font-semibold">
                            <div>
                                {{ elem.lastname | slice(0, 1) }}{{ elem.firstname | slice(0,1) }}
                            </div>
                        </div>
                    {% endif %}
                </div>

                <div class=" flex flex-col items-center justify-center gap-2">
                    <div class="text-center">
                        <div class="font-semibold text-lg flex items-center gap-2 {{ elem.blocked ? "text-red-500" : "" }}">
                            <span>{{ elem.lastname }} {{ elem.firstname }}</span>
                            {% if elem.blocked %}
                                <span class="icon-disabled !font-semibold"></span>
                            {% endif %}
                        </div>
                        <div class="text-gray-600">ID : {{ elem.username }}</div>
                    </div>
                    <div class="text-gray-600 text-center mt-2 flex flex-col gap-2">
                        {% if elem.blocked %}
                            <div class="flex items-center justify-center gap-1 text-red-500 font-semibold">
                                <span class="icon-disabled !font-semibold"></span>
                                <div>Bloqué</div>
                            </div>
                        {% endif %}
                        <div class="flex items-center justify-center gap-1">
                            <div>
                                {% set userBadgeType = ["gray", "indigo", "blue", "yellow"] %}
                                {% include "layout/components/tailwind/badges/badge.html.twig" with {
                                    badge_type: userBadgeType[elem.highRoleCode],
                                    badge_text: elem.highRole
                                } %}
                            </div>
                        </div>
                        <div class="flex items-center justify-center gap-1">
                            <span class="icon-bank"></span>
                            <div>{{ elem.society.code }} - {{ elem.society.name }}</div>
                        </div>
                        <div class="flex items-center justify-center gap-1">
                            <span class="icon-settings"></span>
                            <div>{{ elem.manager }}</div>
                        </div>
                        <div class="flex items-center justify-center gap-1">
                            <span class="icon-email"></span>
                            <div>{{ elem.email }}</div>
                        </div>
                    </div>
                </div>

                <div>
                    {% include "layout/components/tailwind/buttons/button.html.twig" with {
                        btn_link: path('admin_users_update', {id: elem.id}),
                        btn_type: 'blue',
                        btn_text: 'Modifier l\'utilisateur'
                    } %}
                </div>
            </div>
        </div>
        <div class="lg:col-span-3 xl:col-span-4 2xl:col-span-5">
        </div>
    </div>
{% endblock %}
