{% extends 'app/pages/security/template.html.twig' %}

{% block title %}Connexion à son espace{% endblock %}

{% block body %}
<div>
    <div>
        <a href="{{ path('app_homepage') }}">Accueil</a>
    </div>

    {% if error %}
        <div>{{ error.messageKey|trans(error.messageData, 'security') }}</div>
    {% endif %}

    {% if is_granted('IS_AUTHENTICATED_FULLY') %}
        <p>Username: {{ app.user.username }}</p>
        <div>
            <a href="{{ path('app_logout') }}">Déconnexion</a>
        </div>
    {% else %}
        <form action="{{ path('app_login') }}" method="post">
            <label for="username">Email:</label>
            <input type="text" id="username" name="_username" value="{{ last_username }}"/>

            <label for="password">Password:</label>
            <input type="password" id="password" name="_password"/>

            <input type="hidden" name="_target_path" value="{{ path('app_logged') }}"/>

            <input type="hidden" name="_csrf_token" value="{{ csrf_token('authenticate') }}">

            <button type="submit">login</button>
        </form>
    {% endif %}
</div>
{% endblock %}
