{% extends 'admin/pages/mails/template.html.twig' %}

{% set page_title %}Boite d'envois{% endset %}
{% set page_subtitle %}Les réponses ne sont pas récupérées.{% endset %}

{% block main_content %}
    <div id="mails_index"
         data-context="{{ type }}"
         data-total-s="{{ totalSent }}"
         data-total-t="{{ totalTrash }}"
         data-donnees="{{ data }}"
         data-from="{{ from }}"
         data-from-name="{{ fromName }}"
    >
        {% include "layout/components/tailwind/loaders/loader.html.twig" %}
    </div>

    {{ knp_pagination_render(pagination) }}
{% endblock %}
