{% extends 'admin/pages/agenda/template.html.twig' %}

{% set page_title %}Modifier {{ elem.name }} #{{ elem.id }}{% endset %}
{% set page_subtitle %}Modifier les informations relatives à l'évènement : #{{ elem.id }}.{% endset %}

{% block breadcrumb %}
    {% set breadcrumbs = breadcrumbs | merge([{ text: page_title }]) %}
    {{ parent() }}
{% endblock %}

{% set page_actions %}
    {% include 'layout/components/tailwind/buttons/button.html.twig' with {
        btn_link: path('admin_agenda_index'),
        btn_type: 'default',
        btn_icon: 'left-arrow',
        btn_text: 'Retourner à l\'agenda'
    } %}
{% endset %}

{% block main_content %}
    <div id="agenda_update"
         data-obj="{{ obj }}"
    >
        {% include "layout/components/tailwind/loaders/loader.html.twig" %}
    </div>
{% endblock %}
