{% extends 'admin/pages/agenda/template.html.twig' %}

{% set page_title %}Modifier {{ elem.name }} #{{ elem.id }}{% endset %}
{% set page_subtitle %}Modifier les informations relatives à l'évènement : #{{ elem.id }}.{% endset %}

{% block breadcrumb %}
    {% set breadcrumbs = breadcrumbs | merge([{ text: page_title }]) %}
    {{ parent() }}
{% endblock %}

{% block main_content %}
    {% include "layout/components/admin/page_toolbar.html.twig" with { page_back: path('admin_agenda_index') } %}

    <div id="agenda_update"
         data-obj="{{ obj }}"
    >
        {% include "layout/components/loader.html.twig" %}
    </div>
{% endblock %}
