{% extends 'admin/layout/layout.html.twig' %}

{% set page_title %}Dashboard{% endset %}
{% set page_subtitle %}Raccourcis{% endset %}

{% block stylesheets %}
    {{ parent() }}
    {{ encore_entry_link_tags('admin_homepage') }}
{% endblock %}

{% block main_content %}
<div class="main-content">
    <div class="dashboard">
        <div class="dashboard-line-0">
            <div class="card">
                <div class="card-header">
                    <div class="icon"><span class="icon-settings"></span></div>
                    <div class="title">Paramètres</div>
                </div>
                <div class="card-body">
                    {% if settings %}
                        <div>{{ settings.websiteName }}</div>
                        <div>{{ settings.emailGlobal }}</div>
                    {% endif %}
                    <div style="margin-top: 8px;">
                        <a href="{{ path('admin_settings_update') }}">Accéder aux paramètres</a>
                    </div>
                </div>
            </div>
        </div>

        <div class="dashboard-line-1">

            <div class="card">
                <div class="card-header">
                    <div class="icon"><span class="icon-bank"></span></div>
                    <div class="title">Sociétés</div>
                </div>
                <div class="card-body">
                    <div>{{ nbSocieties }}</div>
                    <div>
                        <a href="{{ path('admin_societies_index') }}">Voir les sociétés</a>
                    </div>
                </div>
            </div>

            <div class="card">
                <div class="card-header">
                    <div class="icon"><span class="icon-group"></span></div>
                    <div class="title">Qui s'est connecté ?</div>
                </div>
                <div class="card-body">
                    <div>{{ nbUsersConnected }} / {{ nbUsers }}</div>
                    <a href="{{ path('admin_users_index') }}">Voir les utilisateurs</a>
                </div>
            </div>

            <div class="card">
                <div class="card-header">
                    <div class="icon"><span class="icon-follow"></span></div>
                    <div class="title">Changelogs</div>
                </div>
                <div class="card-body">
                    <div>
                        <a href="{{ path('admin_changelogs_create') }}">Ajouter un changelog</a>
                    </div>
                </div>
            </div>

            <div class="card">
                <div class="card-header">
                    <div class="icon"><span class="icon-chat"></span></div>
                    <div class="title">Contacts</div>
                </div>
                <div class="card-body">
                    {% if nbContactsNew > 0 %}
                        <div>
                            <a href="{{ path('admin_contacts_index') }}">
                                {{ nbContactsNew }} {{ nbContactsNew > 1 ? "nouveaux messages" : "nouveau message" }}
                            </a>
                        </div>
                    {% endif %}
                    <div>
                        <a href="{{ path('admin_contacts_index') }}">
                            <span class="txt-alpha">Voir le{{ nbContacts | plurial }} {{ nbContacts }} message{{ nbContacts | plurial }}</span>
                        </a>
                    </div>
                </div>
            </div>

        </div>

        <div class="dashboard-line-2">

            <div class="card">
                <div class="card-header">
                    <div class="icon"><span class="icon-refresh1"></span></div>
                    <div class="title">Informations des mises à jours</div>
                </div>
                <div class="card-body">
                    <div class="changelogs-view">
                        {% if changelogs | length <= 0 %}
                            <div class="changelog-view changelog-type-1">
                                <div class="col-1">
                                    <span class="icon-follow"></span>
                                </div>
                                <div class="col-2">
                                    <div class="name">Site internet à jour</div>
                                    <div class="date">{{ "now" | date | format_datetime('full', 'short', locale="fr") | replace({":": "h"}) | capitalize }}</div>
                                </div>
                            </div>
                        {% else %}
                            {% for elem in changelogs %}
                                <div class="changelog-view changelog-type-{{ elem.type }}">
                                    <div class="col-1">
                                        <span class="icon-{{ elem.icon }}"></span>
                                    </div>
                                    <div class="col-2">
                                        <div class="name">{{ elem.name }}</div>
                                        <div class="date">{{ elem.createdAt | format_datetime('full', 'short', locale="fr") | replace({":": "h"}) | capitalize }}</div>
                                        <div class="content">{{ elem.content | raw }}</div>
                                    </div>
                                </div>
                            {% endfor %}
                        {% endif %}
                    </div>
                </div>
            </div>

        </div>

    </div>
</div>
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    {{ encore_entry_script_tags('admin_homepage') }}
{% endblock %}
