{% extends 'admin/layout/layout.html.twig' %}

{% set page_title %}Dashboard{% endset %}
{% set page_subtitle %}Raccourcis{% endset %}

{% block stylesheets %}
    {{ parent() }}
    {{ encore_entry_link_tags('admin_homepage') }}
{% endblock %}

{% block main_content %}
<div class="main-content">
    <div class="dashboard">
        <div class="dashboard-line-0">
            <div class="card">
                <div class="card-header">
                    <div class="icon"><span class="icon-settings"></span></div>
                    <div class="title">Paramètres</div>
                </div>
                <div class="card-body">
                    {% if settings %}
                        <div>{{ settings.websiteName }}</div>
                        <div>{{ settings.emailGlobal }}</div>
                    {% endif %}
                    <div style="margin-top: 8px;">
                        <a href="{{ path('admin_settings_update') }}">Accéder aux paramètres</a>
                    </div>
                </div>
            </div>
        </div>

        <div class="dashboard-line-1">

            <div class="card">
                <div class="card-header">
                    <div class="icon"><span class="icon-bank"></span></div>
                    <div class="title">Sociétés</div>
                </div>
                <div class="card-body">
                    <a href="{{ path('admin_societies_index') }}">
                        <span class="txt-alpha">{{ nbSocieties }}</span>
                    </a>
                </div>
            </div>

            <div class="card">
                <div class="card-header">
                    <div class="icon"><span class="icon-group"></span></div>
                    <div class="title">Qui s'est connecté ?</div>
                </div>
                <div class="card-body">
                    <a href="{{ path('admin_users_index') }}">
                        <span class="txt-alpha">{{ nbUsersConnected }} / {{ nbUsers }}</span>
                    </a>
                </div>
            </div>

            <div class="card">
                <div class="card-header">
                    <div class="icon"><span class="icon-follow"></span></div>
                    <div class="title">Changelogs</div>
                </div>
                <div class="card-body">
                    <div>
                        <a href="{{ path('admin_changelogs_create') }}">Ajouter un changelog</a>
                    </div>
                </div>
            </div>

            <div class="card">
                <div class="card-header">
                    <div class="icon"><span class="icon-chat"></span></div>
                    <div class="title">Contacts</div>
                </div>
                <div class="card-body">
                    {% if nbContactsNew > 0 %}
                        <div>
                            <a href="{{ path('admin_contacts_index') }}">
                                {{ nbContactsNew }} {{ nbContactsNew > 1 ? "nouveaux messages" : "nouveau message" }}
                            </a>
                        </div>
                    {% endif %}
                    <div>
                        <a href="{{ path('admin_contacts_index') }}">
                            <span class="txt-alpha">{{ nbContacts }} message{{ nbContacts > 1 ? "s" : "" }}</span>
                        </a>
                    </div>
                </div>
            </div>

        </div>

    </div>
</div>
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    {{ encore_entry_script_tags('admin_homepage') }}
{% endblock %}
