{% extends 'app/email/template/template.html.twig' %}

{% block preheader %}Demande de contact.{% endblock %}

{% block title %}Demande de contact{% endblock %}

{% block body %}
    <div>
        <div>Demande de contact réalisé par : {{ contact.name }}, le {{ contact.createdAt | date('d/m/Y \\à H:i') }}</div>
        <div>Email  de contact : {{ contact.email }}</div>
        <p style="width: 540px;">
            Message : <br>
            {{ contact.message }}
        </p>
        {% if urlCreateProspectLoc and urlCreateProspectVen %}
            <div style="margin-top: 24px;">
                <div style="font-weight: bold;">Ajouter ce contact dans Lotys <sup>*</sup> : </div>
                <div>
                    <a href="{{ urlCreateProspectLoc }}">+ en tant que futur locataire</a>
                </div>
                <div style="margin-top: 4px">
                    <a href="{{ urlCreateProspectVen }}">+ en tant que futur acquéreur</a>
                </div>
                <div style="margin-top: 12px; font-size: 12px; color: #4b4b4b;">
                    <sup>*</sup> Si le prospect existe déjà les informations ne seront pas écrasées.
                </div>
            </div>
        {% endif %}
    </div>
{% endblock %}
