{% extends 'admin/pages/societies/template.html.twig' %}

{% set page_title %}Modifier {{ elem.name }} #{{ elem.id }}{% endset %}
{% set page_subtitle %}Modifier les informations relatives à {{ elem.code }} - {{ elem.name }}.{% endset %}

{% set page_actions %}
    {% include 'layout/components/tailwind/buttons/button.html.twig' with {
        btn_link: path('admin_societies_index', {'h': elem.id}),
        btn_type: 'default',
        btn_icon: 'left-arrow',
        btn_text: 'Retourner à la liste'
    } %}
{% endset %}

{% block main_content %}
    <div id="societies_update"
         data-obj="{{ obj }}"
         data-settings="{{ settings }}"
    >
        {% include "layout/components/loader.html.twig" %}
    </div>
{% endblock %}
