{% extends 'admin/pages/societies/template.html.twig' %}

{% set page_title %}Modifier {{ elem.name }} #{{ elem.id }}{% endset %}
{% set page_subtitle %}Modifier les informations relatives à {{ elem.code }} - {{ elem.name }}.{% endset %}

{% block main_content %}
    {% include "layout/components/admin/page_toolbar.html.twig" with { page_back: path('admin_societies_index', {'h': elem.id}) } %}

    <div id="societies_update"
         data-obj="{{ obj }}"
         data-settings="{{ settings }}"
    >
        {% include "layout/components/loader.html.twig" %}
    </div>
{% endblock %}
