<div class="breadcrumb">
    <div class="breadcrumb-items">
        <a href="{{ path('admin_homepage') }}" class="breadcrumb-item">
            <span class="icon-home"></span>
            <span>Dashboard</span>
        </a>

        {% if breadcrumbs is defined %}
            {% for item in breadcrumbs %}
                <span class="breadcrumb-separator"></span>
                <a class="breadcrumb-item {{ loop.last ? " active" : "" }}" href="{{ item.url is defined ? item.url : "" }}">
                    {% if item.icon is defined %}<span class="icon-{{ item.icon }}"></span>{% endif %}
                    {% if item.text is defined %}<span>{{ item.text }}</span>{% endif %}
                </a>
            {% endfor %}
        {% endif %}
    </div>
</div>
