<header class="bg-white shadow">
    <div class="mx-auto max-w-screen-qhd px-4 py-6 sm:px-6 lg:px-8">

        <div class="mb-4">
            <div>
                <a href="{{ path('admin_homepage') }}" class="text-gray-600 hover:text-gray-500">
                    <span class="icon-home"></span>
                    <span class="ml-1">Dashboard</span>
                </a>

                {% if breadcrumbs is defined %}
                    {% for item in breadcrumbs %}
                        <span class="px-2 text-gray-600">/</span>
                        <a class="text-gray-600 hover:text-gray-500" href="{{ item.url is defined ? item.url : "" }}">
                            {% if item.icon is defined %}<span class="icon-{{ item.icon }}"></span>{% endif %}
                            {% if item.text is defined %}<span class="ml-1">{{ item.text }}</span>{% endif %}
                        </a>
                    {% endfor %}
                {% endif %}
            </div>
        </div>

        <div class="flex flex-col justify-between gap-4 sm:flex-row">
            <div>
                <h1 class="text-3xl font-bold tracking-tight text-gray-900">{{ page_title }}</h1>
                <div class="max-w-2xl">{{ page_subtitle is defined ? page_subtitle : "" }}</div>
            </div>
            <div>
                {{ page_actions is defined ? page_actions : "" }}
            </div>
        </div>
    </div>

</header>
