{% extends 'app/layout/layout.html.twig' %}

{% block main_content %}
    <main class="grid min-h-full place-items-center bg-white px-6 py-24 sm:py-32 lg:px-8">
        <div class="text-center">
            <p class="text-base font-semibold text-color2">{{ status_code }}</p>
            <h1 class="mt-4 text-3xl font-bold tracking-tight text-gray-900 sm:text-5xl">
                {% if custom_status_text is defined %}
                    <h2>{{ custom_status_text }}</h2>
                {% else %}
                    <h2>{{ status_text }}</h2>
                {% endif %}
            </h1>
            <p class="mt-6 text-base leading-7 text-gray-600">
                {{ explication }}<br>
                Vous pouvez cliquer sur le bouton ci-dessous pour revenir à la page d'accueil.
            </p>
            <div class="mt-10 flex items-center justify-center gap-x-6">
                <a href="{{ path("app_homepage") }}"
                   class="rounded-md bg-color2 px-3.5 py-2.5 text-sm font-semibold text-white shadow-sm hover:bg-color2/90 focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-color2">
                    Page d'accueil
                </a>
            </div>
        </div>
    </main>
{% endblock %}
