{% extends 'base.html.twig' %}

{% block title %}{{ page_title }} | {{ page_prefix }} {% endblock %}

{% block stylesheets %}
    {{ parent() }}
    {{ encore_entry_link_tags('admin_app') }}
{% endblock %}

{% block body %}
    {% include "layout/components/page-loader.html.twig" %}

    <div class="body">
        <nav>
            <div class="nav-container">
                <div class="nav-logo">
                    <a href="{{ path('app_homepage') }}">
                        <img src="{{ asset('build/admin/images/logo.png') }}" alt="Logo societe">
                    </a>
                </div>

                <div class="nav-mobile">
                    <span class="icon-menu"></span>
                </div>

                <div class="nav-content">
                    <div class="nav-header">
                        <div class="avatar">
                            <img src="{{ app.user.avatarFile }}" alt="Avatar utilisateur">
                        </div>
                        <div class="nav-header-infos">
                            <div>{{ app.user.userIdentifier }}</div>
                            <div>{{ app.user.email }}</div>
                        </div>
                        <div class="nav-header-actions">
                            <div id="notifs_list">
                                {% include "layout/components/admin/loaders/btn-icon.html.twig" %}
                            </div>
                            <a href="{{ path('admin_settings_update') }}"
                               class="btn-icon {{- app.request.get('_route') == "admin_settings_update"
                                               ? " btn-icon-outline-primary"
                                               : " btn-icon-outline-default" -}}"
                            >
                                <span class="icon-settings"></span>
                                <span class="tooltip">Paramètres</span>
                            </a>
                            <a href="{{ path('app_logout') }}" class="btn-icon btn-icon-outline-default">
                                <span class="icon-logout"></span>
                                <span class="tooltip" style="width: 98px;">Se déconnecter</span>
                            </a>
                        </div>
                    </div>

                    <div class="nav-menu">
                        <div class="nav-items">
                            {% for item in menu %}
                                <a class="nav-item {{- app.request.get('_route') in item.matchRoute ? " active" : "" -}}"
                                   href="{{ item.path }}"
                                >
                                    <span class="icon-{{ item.icon }}"></span>
                                    <span>{{ item.name }}</span>
                                </a>
                            {% endfor %}
                        </div>
                        <div class="nav-items">
                            {% for item in menu_bottom %}
                                <a class="nav-item {{- app.request.get('_route') in item.matchRoute ? " active" : "" -}}"
                                   href="{{ item.path }}"
                                >
                                    <span class="icon-{{ item.icon }}"></span>
                                    <span>{{ item.name }}</span>
                                </a>
                            {% endfor %}
                        </div>
                    </div>
                </div>

            </div>
        </nav>

        <main>

            {% include "layout/components/admin/page_title.html.twig" %}

            <div>
                {% block main_content %}{% endblock %}
            </div>
        </main>
    </div>

    {% block footer %}{% endblock %}
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    {{ encore_entry_script_tags('admin_app') }}
{% endblock %}
