{% extends 'base.html.twig' %}

{% block title %} {{ page_title }} | {{ page_prefix }} {% endblock %}

{% block stylesheets %}
    {{ parent() }}
{#    {{ encore_entry_link_tags('dashboard') }}#}
{% endblock %}

{% block body %}
    <div class="body">
        <nav>

        </nav>

        <main>

            {% include "layout/components/admin/page_title.html.twig" %}

            <div>
                {% block main_content %}{% endblock %}
            </div>

            {% block footer %}{% endblock %}
        </main>
    </div>
{% endblock %}

{% block javascripts %}
    {{ parent() }}
{#    {{ encore_entry_script_tags('dashboard') }}#}
{% endblock %}
